// COLORS
$color-primary: #313e56;
$color-secondary: #5b1e1e;
$color-tetriary: #b1624e;

$color-black: #000;
$color-white: #ffffff;
$color-greeen-blue: #a2c3b6;

// FONT
$default-font-size: 1.6rem;

// GUTTERS
$gutter-horizontal: 2.5em;
$gutter-vertical: 2em;

//WIDTHS
$page-width: 160rem;
