.button-action {
  display: inline-block;
  background-color: $color-primary;
  color: $color-white;
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 2.4rem;
  height: 4rem;
  line-height: 4rem;
  padding-inline: 1rem;
  width: 6rem;
  text-align: center;

  &:hover {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
  }

  &::before {
    vertical-align: baseline;
  }
}
